---
layout: default
title: Home
banner: "/assets/images/banners/home.jpeg"
---

The research activity of Dr. Marco Falda developed along two main lines: Artificial Intelligence during his stays at the Departments of Information Engineering and “Pure and Applied Mathematics” and Computational Biology while at the Departments of Biological Chemistry and Molecular Medicine, University of Padova. This activity is documented by 36 international scientific publications.

<h2>Past research interests</h2>
<ul>
    <li><a href="ai">Artificial Intelligence: Uncertain Temporal Reasoning in the frameworks of Constraint Programming and Fuzzy Logics</a></li>
    <li><a href="compbio">Computational Biology: Genomics and Proteomics</a></li>
</ul>

<h2>Latest news</h2>

{% for post in paginator.posts %}
  <article>
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url | relative_url }}">Read more</a>
  </article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">prev</a>
  {% endif %}

  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">next</a>
  {% endif %}
</div>

<h2>Publications</h2>

<a href="bibliography">Publications</a>
